product-service/.mvn/wrapper/maven-wrapper.properties
product-service/mvnw.cmd
product-service/mvnw
/.idea
order-service/.mvn/wrapper/maven-wrapper.properties
order-service/mvnw.cmd
order-service/mvnw
/order-data/18/docker/base/1
/order-data/18/docker/base/16384
/order-data
/product-data
qodana.yaml
product-service/inventory-service/inventory-service/mvnw
product-service/inventory-service/inventory-service/mvnw.cmd
product-service/inventory-service/inventory-service/.mvn/wrapper/maven-wrapper.properties
api-gateway/.mvn/wrapper/maven-wrapper.properties
api-gateway/mvnw
api-gateway/mvnw.cmd
